# dependencies
node_modules

# build output
dist
dist-ssr
*.local

# local secrets
.env
.env.*
!.env.example

# rust / tauri
src-tauri/target
src-tauri/gen/schemas

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
